.wrapper{
	font-family: "Roboto";
	text-align: center;
}
.b-game__title{
	font-size: 24px;
	font-weight: bold;
}
.b-game__body{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 215px;
	text-align: center;
	margin: 20px auto;
}
.b-game__item{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	margin: 5px 2px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.1);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	font-weight: bold;
	font-size: 20px;
}
.b-game__item:hover{
  background: rgba(0,0,0,0.2);
}
.disabled{
  pointer-events: none;
}
.X{
  background: pink;
  color: #fff;
}
.O{
  background: #050505;
  color: #fff;
}

#reset{
	display: inline-block;
	padding: 6px 18px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}